<!-- Buttons themes -->
<div class="row themes">
  <div class="col-xs-12 text-center">
    <button class="btn btn-default theme-default" type="button" data-theme="default"  ng-click="searchUser.changeTheme('default')">Default</button>
    <button class="btn btn-default theme-dark" type="button" data-theme="dark"     ng-click="searchUser.changeTheme('dark')">Dark</button>
    <button class="btn btn-default theme-antique" type="button" data-theme="antique"  ng-click="searchUser.changeTheme('antique')">Antique</button>
    <button class="btn btn-default theme-darksalmon" type="button" data-theme="darksalmon"    ng-click="searchUser.changeTheme('darksalmon')">Darksalmon</button>
  </div>
</div>

<!-- Search input bar -->
<div class="row">
  <div class="col-xs-12">
    <h1 id="title" class="text-center nuvolar-font">Nuvolar Search Engine</h1>
    <div class="input-group">
        <input class="form-control" ng-change="searchUser.searchUser()"
               placeholder="Type in a github username" ng-model="searchUser.username">
        <div class="input-group-addon" ><i class="fa fa-search"></i></div>
    </div>
  </div>
</div>

<BR>

<!-- Results list -->
<div class="row" ng-show="searchUser.users.length > 0 && searchUser.username != '' ">
  <div class="col-xs-12">
    <div class="list-group">
       <a class="list-group-item list-group-item-action" ng-repeat="user in searchUser.users | limitTo:10"  href="" ng-click="searchUser.userDetails(user)">   
        <img ng-src="{{user.avatar_url}}" width="50" height="50" class="img-circle" > 
        <span class="span-user-name" >{{user.login}}</span>
       </a>
    </div>
  </div>
</div>
